.scrollContainer {
  height: calc(100vh - 80px);
  overflow-y: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.about-me-section {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  padding: 20px;
}

.about-me-content {
max-width: 60%;
}

.profile-image {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 20px;
  object-fit: cover;
}

.profile-name {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.about-me-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #00ADEF;
  text-align: center;
}

.profile-title {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #00ADEF;
  margin-bottom: 20px;
  text-align: center;
}

.about-me-description {
  font-size: 1rem;
  line-height: 1.6;
  color: #ddd;
  text-align: justify;
}

@media (min-width: 920px) {
  .profile-image {
    width: 300px;
    height: 300px;
  }

  .profile-name {
    font-size: 3rem;
  }

  .profile-title {
    font-size: 1.75rem;
  }

  .about-me-heading {
    font-size: 1.75rem;
  }

  .about-me-description {
    font-size: 1.2rem;
    line-height: 1.8;
  }
}

@media (max-width: 920px) {

  .about-me-section {
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
    padding: 20px;
  }

  .scrollContainer {
    height: calc(100vh - 100px);
  }

  .profile-name {
    font-size: 1.8rem;
  }

  .profile-title {
    font-size: 1.3rem;
  }
  
  .about-me-content{
    max-width: 100%;
  }
  .about-me-heading {
    font-size: 1.25rem;
  }

  .about-me-description {
    font-size: 1rem;
    text-align: justify;
  }

  .profile-image {
    width: 200px;
    height: 200px;
  }
}
