.about-me-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.about-me-content {
  max-width: 60%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 40px;
}

.profile-image {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: #ccc;
  margin-bottom: 20px;
  object-fit: cover;
}

.profile-name {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.profile-title {
  font-size: 1.75rem;
  font-weight: bold;
  color: #00ADEF;
  margin-bottom: 20px;
}

.about-me-heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #00ADEF;
}

.about-me-description {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #ddd;
  text-align: justify;
}

@media (min-width: 768px) {
  .about-me-section {
    flex-direction: row;
    align-items: center;
    padding: 40px;
  }

  .profile-container {
    margin-right: 40px;
  }

  .about-me-content {
    max-width: 60%;
  }

  .profile-image {
    width: 400px;
    height: 400px;
  }

  .profile-name {
    font-size: 3rem;
  }

  .profile-title {
    font-size: 1.75rem;
  }

  .about-me-heading {
    font-size: 2.5rem;
  }

  .about-me-description {
    font-size: 1.2rem;
    line-height: 1.8;
  }
}

@media (max-width: 768px) {
  .about-me-section {
    flex-direction: column;
    padding: 20px;
  }

  .profile-image {
    width: 200px;
    height: 200px;
  }

  .profile-name {
    font-size: 1.8rem;
  }

  .profile-title {
    font-size: 1.3rem;
  }

  .about-me-heading {
    font-size: 1.5rem;
  }

  .about-me-description {
    font-size: 1rem;
    line-height: 1.6;
  }
}
